
# vyos https api key
VYDEVICE_APIKEY=your_api_key

# vyos network interface
VYDEVICE_IP=192.168.56.10
VYDEVICE_NETMASK=255.255.255.0

# HOST_IP is the ip address of the host machine of the virtualbox
# use your windows network interface for virtualbox running on windows host and using wsl2 for vagrant
HOST_IP=192.168.0.114
# or use 127.0.0.1, virtualbox running on linux host or windows host
# HOST_IP=127.0.0.1